/** global variables don’t appear style rules or :export statement
 */

$colorWhite: #fff;
$colorPrimary: blue;
$colorWarn: orange;
$colorError: red;
$colorBorder: #dcdfe6;
$colorBackground: darkcyan;

$medium: 16px;
